<section class="containerCadastro col-12">
    <div class="cadastroConteudo col-5">
        <img src="socialgama.logo">      
    </div>
    <div class="cadastroInputs col-5">
        <div>
            <form>
                <label>Nome</label>
                <input type="text">
                <label>Data de Nascimento</label>
                <input type="date">
                <label>Gênero</label>
                <input type="text">
                <label>Email</label>
                <input type="email">
                <label>Senha</label>
                <input type="password">
            </form>
            <button type="button" class="btn btn-cadastro">Cadastre-se</button>
        </div>
    </div>
</section>