.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: 98FB98;
    color: #9A32CD;
    text-align: center;
    padding: 1rem;

    &__text {
        margin: 0;
    }
}