<section class="containerLogin col-12">
    <div class="loginConteudo col-5">
        <img src="socialgama.logo">
        <p>Compartilhe com seus amigos no SocialGama!</p>
        
    </div>
    <div class="loginInputs col-5">
        <div>
            <form>
                <label>E-mail</label>
                <input type="email">
                <label>Senha</label>
                <input type="password">
            </form>
            <button type="button" class="btn btn-login">Entrar</button>
            <button type="button" class="btn btn-cadastro">Cadastre-se</button>
        </div>
    </div>
</section>