.containerLogin{
    background-color: chartreuse;
    height: 100%;
    display: flex;
    justify-content: center;
}

.loginConteudo{
    background-color: blue;
    height: 300px;
}

.loginInputs {
    background-color: brown;
}